
/* HOME PAGE CSS    */

body {
    background-color: rgb(105, 114, 103);
    color: rgb(23, 37, 23);
    padding-bottom: 18rem;
    padding-top: 9rem;
}
nav.navbar {
    position: fixed;
    top: 0;
}
h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* .footer {
    margin-top: 150px;
    width: 2000px;
    padding: 100px;
    background: #333;
    color: #efefef;
    display: flex;
} */
.banner {
    
    text-align: center;
}
#hike{
    /* align-items: center; */
    width: 1100px;
    height: 250px;
}
 .d-block {
    width: 500px;
    height: 600px;
    /* padding: 100px; */
}
.monthlyMountain img {
    
    width: 1300px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}
.monthlyMountain{
    text-align: center;
}
p {
    text-align: center;
    padding: 50px;
    font-size: 150%;
}
#homebtn {
    text-align: center;
    background
    
}
.selected {
    background-color: darkgreen;
    text-decoration: none;
}
.btn {
    background-color: rgb(32, 49, 32);
    color: rgb(249, 253, 251);
    border: 1px solid white;
    margin-left: 1rem;


}
#btn a:hover,
.btn:active,
.btn:hover {
    background-color: rgb(33, 87, 33);
    color: rgb(5, 24, 12);
    border: 1px solid white;
    
    
}
#btn {
    text-align: center;
}



/* PARKS PAGE CSS*/

#filters{
    
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    
}
#saftey{
    text-align: center;
    padding-top: 100px;
    border-radius: 1rem;
}
#pic{
    border-radius: 1rem;
}




/* MOUNTAINS PAGE CSS*/

#mntSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    
}
#mountainSelect{
    
    border-radius: 0.50rem;
    width: 200px;
    height: 50px;

}
#results{
    margin: auto;
    background-color: rgb(186, 197, 186);
    width: 600px;
    border-radius: 1rem;
}
.tips{
    margin: auto;
    background-color: rgb(186, 197, 186);
    width: 800px; 
    border-radius: 1rem;
}
/* .res{
    text-align: center;
} */
#foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
}
#foot p{
    color: #fff;

}
#parkTypeSelect{
    border-radius: 0.50rem;
    width: 200px;
    height: 50px;
}
#parkLocationSelect{
    border-radius: 0.50rem;
    width: 200px;
    height: 50px;
}
#filterButton{
    border-radius: 0.50rem;
    width: 80px;
    height: 40px; 
}



